<footer class="md-footer">
    <div class="md-footer-nav">
        <nav class="md-footer-nav__inner md-grid" aria-label="Footer">

            <a href=".." class="md-footer-nav__link md-footer-nav__link--prev" rel="prev">
                <div class="md-footer-nav__button md-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12z"/></svg>
                </div>
                <div class="md-footer-nav__title">
                    <div class="md-ellipsis">
                <span class="md-footer-nav__direction">
                  Previous
                </span>
                        Home
                    </div>
                </div>
            </a>
        </nav>
    </div>
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <div class="md-footer-copyright">
                Copyright &#169; <script>document.write(new Date().getFullYear())</script> <a href="https://cachetech.com.au/" target="_blank" rel="noopener">Cache Technologies</a>
            </div>
        </div>
    </div>
</footer>
