{
  "openapi": "3.1.0",
  "info": {
    "title": "Cache Web API",
    "description": "Cache Technologies api documentation for cache.bi web ecommerce and pos communications. Visit [cache.bi](https://cache.bi) or our full website [cachetech.com.au](https://cachetech.com.au).\n\n### Custom settings MUST be applied in POS system database\nCertain settings in POS need to be currectly entered before attempting to use the API interface. See below.\n\n\n#### User-Defined Section  \nCreate new values in `POS Terminal Settings --> POS Settings --> User-Defined Options` (see below examples)\n![user-defined](https://cachetech.com.au/files/images/stoplight_images/user-defined.png)  \n\n| User-Defined Value  | Setting (eg)       |Purpose                                      |\n|---------------------|--------------------|---------------------------------------------|\n| TIMEZONE            | Australia/Adelaide |Set POS TZ zone code as per [TZ Database Name](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) |\n| WEBITEMDISCOUNT     | Item Discount 2    |Item discount code for discounted web items  |\n| WEBVOUCHER          | 6                  |Web Gift Voucher Tender number ONLY          |\n| WOOPOS              | 1                  |In development...                 |  \n\n\n#### Global Options Section \nValues must be set in `Global Options --> Interfaces --> eCommerce` (see below example)  \n![ecommerce](https://cachetech.com.au/files/images/stoplight_images/ecommerce.png)  \n\n#### Customer Type Section \nDesired customer type used for web customers must also be set in `Customer Type` User-Defined field with `WEB` value (see below example)\n![customer-type](https://cachetech.com.au/files/images/stoplight_images/customer-type.png)\n\n\n### Custom stock items MUST be created in POS system database\nFor Web Orders to print and display correctly, the API requires specific stock items to exist in the stock item list. Please see below for setup  \n\n#### TEXT item  \n- Code: `TEXT`  \n- Description: `OPEN STOCK ITEM` \n- [x] Non-Accumulating  \n- [ ] Stock Control\n- [x] Print to Reciept Printer  \n\n#### INST item  \n- Code: `INST`  \n- Description: `OPEN STOCK ITEM` \n- [x] Non-Accumulating  \n- [ ] Stock Control\n- [x] Print to Reciept Printer \n- [x] Instruction\n",
    "termsOfService": "https://cachetech.com.au/terms/",
    "contact": {
      "url": "https://www.cachetech.com.au",
      "name": "Roger Close",
      "email": "roger@cpinet.com.au"
    },
    "version": "1.0.55",
    "license": {
      "name": "Commercial",
      "url": "https://cachetech.com.au/license/"
    }
  },
  "servers": [
    {
      "url": "https://web.api.cache.bi/api",
      "description": "Base url to connect to web REST services **NOTE Soon to update to /v# instead of /api**"
    }
  ],
  "tags": [
    {
      "name": "customer",
      "description": "Basic Customer operations for web stores"
    },
    {
      "name": "voucher",
      "description": "Basic operations for gift vouchers for web stores"
    },
    {
      "name": "webstore",
      "description": "Basic operations for web stores",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://docs.cache.bi"
      }
    }
  ],
  "paths": {
    "/customer": {
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Create Customer",
        "description": "Adds a new Customer to pos system with basic fields",
        "operationId": "addCustomer",
        "requestBody": {
          "description": "Customer Object to add",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                "properties": {
                  "uniqueId": {
                    "type": "integer",
                    "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                  },
                  "code": {
                    "maxLength": 10,
                    "minLength": 1,
                    "type": "string",
                    "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                  },
                  "lastName": {
                    "maxLength": 30,
                    "minLength": 1,
                    "type": "string",
                    "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                  },
                  "email": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                  },
                  "type": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                  },
                  "firstName": {
                    "maxLength": 15,
                    "type": "string"
                  },
                  "scanCode": {
                    "maxLength": 13,
                    "type": "string",
                    "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                  },
                  "phone": {
                    "maxLength": 20,
                    "minLength": 1,
                    "type": "string"
                  },
                  "company": {
                    "maxLength": 40,
                    "type": "string"
                  },
                  "contactNo": {
                    "maxLength": 20,
                    "type": "string"
                  },
                  "comments1": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "comments2": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "points": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0
                  },
                  "discontinue": {
                    "type": "boolean",
                    "default": false
                  },
                  "asAbove": {
                    "type": "boolean",
                    "default": true,
                    "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                  },
                  "masterAccount": {
                    "maxLength": 16,
                    "type": "string"
                  },
                  "creditLimit": {
                    "type": "number",
                    "format": "double",
                    "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                    "default": 0
                  },
                  "address1": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "address2": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "suburb": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "state": {
                    "type": "string",
                    "maxLength": 3
                  },
                  "postCode": {
                    "type": "string",
                    "maxLength": 10
                  },
                  "deliveryAddress1": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliveryAddress2": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliverySuburb": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliveryState": {
                    "type": "string",
                    "maxLength": 3
                  },
                  "deliveryPostcode": {
                    "type": "string",
                    "maxLength": 10
                  }
                },
                "required": [
                  "code",
                  "lastName"
                ]
              },
              "examples": {
                "basic-new-customer": {
                  "value": {
                    "code": "W000001",
                    "lastName": "Smith",
                    "email": "johnsmith@example.com.au",
                    "type": 1,
                    "firstName": "John",
                    "scanCode": "4WE73T2000001",
                    "phone": "0400 123 456",
                    "company": "Test Company",
                    "comments1": "Online Customer",
                    "asAbove": true,
                    "address1": "24 Main Street",
                    "suburb": "Adelaide",
                    "state": "SA",
                    "postCode": "5000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created in pos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-examples": {
                      "Standard": {
                        "uniqueId": 53,
                        "code": "W0000342",
                        "email": "test@example.com.au"
                      }
                    },
                    "properties": {
                      "uniqueId": {
                        "type": "integer"
                      },
                      "code": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "response-success": {
                    "value": [
                      {
                        "uniqueId": 546,
                        "code": "W00034",
                        "email": "customer@mail.com.au"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": [
                    {
                      "status": "Int"
                    },
                    {
                      "message": "String"
                    },
                    {
                      "timeStamp": "String"
                    }
                  ]
                },
                "examples": {
                  "response-comma": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - comma (,) is an invalid character",
                      "timeStamp": "03:05:33"
                    }
                  },
                  "response-empty": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - customerCode must not be empty",
                      "timeStamp": "03:05:33"
                    }
                  },
                  "response-special": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - customerCode must not contain special characters",
                      "timeStamp": "03:05:33"
                    }
                  },
                  "response-toolong": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - Customer firstName: VeryLongNameThatIsTooLong exceeds 15 characters",
                      "timeStamp": "03:05:33"
                    }
                  },
                  "response-email": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - Customer email: i.am.from.a.spam.account.mail.address@mail.ru does not appear to be a valid email, or does not pass spam check",
                      "timeStamp": "03:05:33"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Customer already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": [
                    {
                      "status": "Int"
                    },
                    {
                      "message": "String"
                    },
                    {
                      "timeStamp": "String"
                    }
                  ]
                },
                "examples": {
                  "response-exists": {
                    "value": {
                      "status": 409,
                      "message": "Conflict in parameter - Customer code: W000000001 already exists as Customer code for Customer ID: 10001",
                      "timeStamp": "03:05:33"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          }
        ]
      }
    },
    "/customer/{customerid}/points/{points}": {
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "Update Customer points",
        "description": "Update a Customer points in the pos system by the specified amount, may be negative (used points), must be a whole number",
        "operationId": "updatePoints",
        "deprecated": true,
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "customerid",
            "in": "path",
            "description": "Customer Id to be updated - must use ID to ensure mapping to correct customer in pos system",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "points",
            "in": "path",
            "description": "Points value (positive or negative) to adjust by",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Customer points updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-examples": {
                      "Standard": {
                        "customerId": 54,
                        "newPointsBalance": 435
                      }
                    },
                    "properties": {
                      "customerId": {
                        "type": "integer"
                      },
                      "newPointsBalance": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "customerId": 54,
                        "newPointsBalance": 453
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          },
          "409": {
            "description": "Customer ID not found"
          }
        }
      }
    },
    "/customer/{customerid}": {
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "Update Customer",
        "description": "Update Customer field values in the pos system.      \n\nIt is not possible to update `UniqueId` (any value will be ignored).  \nOnly fields required to update need to be added to the body.  \nHidden fields are available to update (contact your pos vender for complete list)\n",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "customerid",
            "in": "path",
            "description": "Customer Id to be updated - must use ID to ensure mapping to correct customer in pos system",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Customer Object to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                "properties": {
                  "uniqueId": {
                    "type": "integer",
                    "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                  },
                  "code": {
                    "maxLength": 10,
                    "minLength": 1,
                    "type": "string",
                    "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                  },
                  "lastName": {
                    "maxLength": 30,
                    "minLength": 1,
                    "type": "string",
                    "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                  },
                  "email": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                  },
                  "type": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                  },
                  "firstName": {
                    "maxLength": 15,
                    "type": "string"
                  },
                  "scanCode": {
                    "maxLength": 13,
                    "type": "string",
                    "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                  },
                  "phone": {
                    "maxLength": 20,
                    "minLength": 1,
                    "type": "string"
                  },
                  "company": {
                    "maxLength": 40,
                    "type": "string"
                  },
                  "contactNo": {
                    "maxLength": 20,
                    "type": "string"
                  },
                  "comments1": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "comments2": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "points": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0
                  },
                  "discontinue": {
                    "type": "boolean",
                    "default": false
                  },
                  "asAbove": {
                    "type": "boolean",
                    "default": true,
                    "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                  },
                  "masterAccount": {
                    "maxLength": 16,
                    "type": "string"
                  },
                  "creditLimit": {
                    "type": "number",
                    "format": "double",
                    "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                    "default": 0
                  },
                  "address1": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "address2": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "suburb": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "state": {
                    "type": "string",
                    "maxLength": 3
                  },
                  "postCode": {
                    "type": "string",
                    "maxLength": 10
                  },
                  "deliveryAddress1": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliveryAddress2": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliverySuburb": {
                    "type": "string",
                    "maxLength": 35
                  },
                  "deliveryState": {
                    "type": "string",
                    "maxLength": 3
                  },
                  "deliveryPostcode": {
                    "type": "string",
                    "maxLength": 10
                  }
                },
                "required": [
                  "code",
                  "lastName"
                ]
              },
              "examples": {
                "add-delivery": {
                  "value": {
                    "uniqueId": 23,
                    "asAbove": false,
                    "deliveryAddress1": "PO Box 123",
                    "deliverySuburb": "Adelaide",
                    "deliveryState": "SA",
                    "deliveryPostcode": "5000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer updated",
            "content": {
              "string": {
                "schema": {
                  "string": ""
                },
                "example": "Customer updated"
              }
            }
          },
          "400": {
            "description": "Bad input parameter",
            "content": {
              "application/json": {
                "schema": {
                  "status": "int",
                  "message": "string",
                  "timeStamp": "string"
                },
                "examples": {
                  "field-too-long": {
                    "value": {
                      "status": 400,
                      "message": "Bad input parameter - Customer postCode: 4209654 exceeds 10 characters",
                      "timeStamp": "11:11:00"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Customer ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "status": "int",
                  "message": "string",
                  "timeStamp": "string"
                },
                "examples": {
                  "not-found": {
                    "value": {
                      "status": 409,
                      "message": "Bad input parameter - customerId: 6549855 is invalid or does not match Customer in system",
                      "timeStamp": "11:11:00"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Find Customer by ID",
        "description": "Finds a single customer in pos system",
        "operationId": "findCustomerById",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "customerid",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "description": "Unique Customer ID of customer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                  "properties": {
                    "uniqueId": {
                      "type": "integer",
                      "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                    },
                    "code": {
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string",
                      "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                    },
                    "lastName": {
                      "maxLength": 30,
                      "minLength": 1,
                      "type": "string",
                      "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                    },
                    "email": {
                      "maxLength": 50,
                      "type": "string",
                      "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                    },
                    "type": {
                      "minimum": 1,
                      "type": "integer",
                      "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                    },
                    "firstName": {
                      "maxLength": 15,
                      "type": "string"
                    },
                    "scanCode": {
                      "maxLength": 13,
                      "type": "string",
                      "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                    },
                    "phone": {
                      "maxLength": 20,
                      "minLength": 1,
                      "type": "string"
                    },
                    "company": {
                      "maxLength": 40,
                      "type": "string"
                    },
                    "contactNo": {
                      "maxLength": 20,
                      "type": "string"
                    },
                    "comments1": {
                      "maxLength": 50,
                      "type": "string"
                    },
                    "comments2": {
                      "maxLength": 50,
                      "type": "string"
                    },
                    "points": {
                      "type": "integer",
                      "format": "int32",
                      "default": 0
                    },
                    "discontinue": {
                      "type": "boolean",
                      "default": false
                    },
                    "asAbove": {
                      "type": "boolean",
                      "default": true,
                      "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                    },
                    "masterAccount": {
                      "maxLength": 16,
                      "type": "string"
                    },
                    "creditLimit": {
                      "type": "number",
                      "format": "double",
                      "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                      "default": 0
                    },
                    "address1": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "address2": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "suburb": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "state": {
                      "type": "string",
                      "maxLength": 3
                    },
                    "postCode": {
                      "type": "string",
                      "maxLength": 10
                    },
                    "deliveryAddress1": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "deliveryAddress2": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "deliverySuburb": {
                      "type": "string",
                      "maxLength": 35
                    },
                    "deliveryState": {
                      "type": "string",
                      "maxLength": 3
                    },
                    "deliveryPostcode": {
                      "type": "string",
                      "maxLength": 10
                    }
                  },
                  "required": [
                    "code",
                    "lastName"
                  ]
                },
                "examples": {
                  "returned": {
                    "value": {
                      "uniqueId": 12,
                      "code": "W0003402",
                      "lastName": "Smith",
                      "email": "johnsmith@example.com",
                      "type": 1,
                      "firstName": "John",
                      "scanCode": "W234df432f",
                      "phone": "0400 123 456",
                      "company": "Test Company",
                      "contactNo": "",
                      "comments1": "Web Customer",
                      "comments2": "",
                      "points": 254,
                      "discontinue": false,
                      "asAbove": false,
                      "masterAccount": "",
                      "creditLimit": 0,
                      "address1": "500 Main Street",
                      "address2": "",
                      "suburb": "Adelaide",
                      "State": "SA",
                      "postCode": "5000",
                      "deliveryAddress1": "PO Box 100",
                      "deliveryAddress2": "",
                      "deliverySuburb": "Adelaide",
                      "deliveryState": "SA",
                      "deliveryPostcode": "5000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Customer ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "status": "int",
                  "message": "string",
                  "timeStamp": "string"
                },
                "examples": {
                  "not-found": {
                    "value": {
                      "status": 409,
                      "message": "Bad input parameter - customerId: 6549855 is invalid or does not match Customer in system",
                      "timeStamp": "11:11:00"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/name/{lastName}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Find Customer by last name",
        "description": "Find Customers in pos system by last name\n\nMay return more than one result\n",
        "operationId": "findCustomerByName",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "lastName",
            "in": "path",
            "description": "Search string for Customer last name",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results matching last name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                    "properties": {
                      "uniqueId": {
                        "type": "integer",
                        "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                      },
                      "code": {
                        "maxLength": 10,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                      },
                      "lastName": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                      },
                      "email": {
                        "maxLength": 50,
                        "type": "string",
                        "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                      },
                      "type": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                      },
                      "firstName": {
                        "maxLength": 15,
                        "type": "string"
                      },
                      "scanCode": {
                        "maxLength": 13,
                        "type": "string",
                        "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                      },
                      "phone": {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string"
                      },
                      "company": {
                        "maxLength": 40,
                        "type": "string"
                      },
                      "contactNo": {
                        "maxLength": 20,
                        "type": "string"
                      },
                      "comments1": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "comments2": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                      },
                      "discontinue": {
                        "type": "boolean",
                        "default": false
                      },
                      "asAbove": {
                        "type": "boolean",
                        "default": true,
                        "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                      },
                      "masterAccount": {
                        "maxLength": 16,
                        "type": "string"
                      },
                      "creditLimit": {
                        "type": "number",
                        "format": "double",
                        "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                        "default": 0
                      },
                      "address1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "address2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "suburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "state": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "postCode": {
                        "type": "string",
                        "maxLength": 10
                      },
                      "deliveryAddress1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryAddress2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliverySuburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryState": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "deliveryPostcode": {
                        "type": "string",
                        "maxLength": 10
                      }
                    },
                    "required": [
                      "code",
                      "lastName"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        }
      }
    },
    "/customer/email/{email}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Find Customer by email",
        "description": "Find Customers in pos system by email\n\nMay return more than one result\n",
        "operationId": "findCustomerByEmail",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "email",
            "in": "path",
            "description": "Search string for Customer email address",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results matching Customer email address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                    "properties": {
                      "uniqueId": {
                        "type": "integer",
                        "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                      },
                      "code": {
                        "maxLength": 10,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                      },
                      "lastName": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                      },
                      "email": {
                        "maxLength": 50,
                        "type": "string",
                        "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                      },
                      "type": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                      },
                      "firstName": {
                        "maxLength": 15,
                        "type": "string"
                      },
                      "scanCode": {
                        "maxLength": 13,
                        "type": "string",
                        "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                      },
                      "phone": {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string"
                      },
                      "company": {
                        "maxLength": 40,
                        "type": "string"
                      },
                      "contactNo": {
                        "maxLength": 20,
                        "type": "string"
                      },
                      "comments1": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "comments2": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                      },
                      "discontinue": {
                        "type": "boolean",
                        "default": false
                      },
                      "asAbove": {
                        "type": "boolean",
                        "default": true,
                        "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                      },
                      "masterAccount": {
                        "maxLength": 16,
                        "type": "string"
                      },
                      "creditLimit": {
                        "type": "number",
                        "format": "double",
                        "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                        "default": 0
                      },
                      "address1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "address2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "suburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "state": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "postCode": {
                        "type": "string",
                        "maxLength": 10
                      },
                      "deliveryAddress1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryAddress2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliverySuburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryState": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "deliveryPostcode": {
                        "type": "string",
                        "maxLength": 10
                      }
                    },
                    "required": [
                      "code",
                      "lastName"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        }
      }
    },
    "/customer/all": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get all Customers",
        "description": "Gets all Customers within pos system. Includes discontinued Customers\n\nUse paged request if there are a large number of customers in database ( >1000 )\n",
        "operationId": "findAllCustomers",
        "responses": {
          "200": {
            "description": "Search results of all Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                    "properties": {
                      "uniqueId": {
                        "type": "integer",
                        "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                      },
                      "code": {
                        "maxLength": 10,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                      },
                      "lastName": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                      },
                      "email": {
                        "maxLength": 50,
                        "type": "string",
                        "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                      },
                      "type": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                      },
                      "firstName": {
                        "maxLength": 15,
                        "type": "string"
                      },
                      "scanCode": {
                        "maxLength": 13,
                        "type": "string",
                        "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                      },
                      "phone": {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string"
                      },
                      "company": {
                        "maxLength": 40,
                        "type": "string"
                      },
                      "contactNo": {
                        "maxLength": 20,
                        "type": "string"
                      },
                      "comments1": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "comments2": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                      },
                      "discontinue": {
                        "type": "boolean",
                        "default": false
                      },
                      "asAbove": {
                        "type": "boolean",
                        "default": true,
                        "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                      },
                      "masterAccount": {
                        "maxLength": 16,
                        "type": "string"
                      },
                      "creditLimit": {
                        "type": "number",
                        "format": "double",
                        "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                        "default": 0
                      },
                      "address1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "address2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "suburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "state": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "postCode": {
                        "type": "string",
                        "maxLength": 10
                      },
                      "deliveryAddress1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryAddress2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliverySuburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryState": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "deliveryPostcode": {
                        "type": "string",
                        "maxLength": 10
                      }
                    },
                    "required": [
                      "code",
                      "lastName"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          }
        ]
      }
    },
    "/customer/all/{startId}/{quantity}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get all Customers paged",
        "description": "Gets all Customers within pos system starting from id",
        "operationId": "findAllCustomersPaged",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "startId",
            "in": "path",
            "description": "Start Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quantity",
            "in": "path",
            "description": "Page size in customer numbers",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results of all Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Customer": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                        "properties": {
                          "uniqueId": {
                            "type": "integer",
                            "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                          },
                          "code": {
                            "maxLength": 10,
                            "minLength": 1,
                            "type": "string",
                            "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                          },
                          "lastName": {
                            "maxLength": 30,
                            "minLength": 1,
                            "type": "string",
                            "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                          },
                          "email": {
                            "maxLength": 50,
                            "type": "string",
                            "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                          },
                          "type": {
                            "minimum": 1,
                            "type": "integer",
                            "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                          },
                          "firstName": {
                            "maxLength": 15,
                            "type": "string"
                          },
                          "scanCode": {
                            "maxLength": 13,
                            "type": "string",
                            "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                          },
                          "phone": {
                            "maxLength": 20,
                            "minLength": 1,
                            "type": "string"
                          },
                          "company": {
                            "maxLength": 40,
                            "type": "string"
                          },
                          "contactNo": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "comments1": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "comments2": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "points": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                          },
                          "discontinue": {
                            "type": "boolean",
                            "default": false
                          },
                          "asAbove": {
                            "type": "boolean",
                            "default": true,
                            "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                          },
                          "masterAccount": {
                            "maxLength": 16,
                            "type": "string"
                          },
                          "creditLimit": {
                            "type": "number",
                            "format": "double",
                            "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                            "default": 0
                          },
                          "address1": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "address2": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "suburb": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "state": {
                            "type": "string",
                            "maxLength": 3
                          },
                          "postCode": {
                            "type": "string",
                            "maxLength": 10
                          },
                          "deliveryAddress1": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "deliveryAddress2": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "deliverySuburb": {
                            "type": "string",
                            "maxLength": 35
                          },
                          "deliveryState": {
                            "type": "string",
                            "maxLength": 3
                          },
                          "deliveryPostcode": {
                            "type": "string",
                            "maxLength": 10
                          }
                        },
                        "required": [
                          "code",
                          "lastName"
                        ]
                      }
                    },
                    "PagingMeta": {
                      "type": "object",
                      "x-examples": {
                        "Standard Response": {
                          "total": 5874,
                          "startId": 0,
                          "endId": 1025,
                          "fetchQuantity": 1000
                        }
                      },
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items within page pool"
                        },
                        "startId": {
                          "type": "integer",
                          "description": "Start ID that was requested"
                        },
                        "endId": {
                          "type": "integer",
                          "description": "Final ID in returned page (to use in next page request start ID)"
                        },
                        "fetchQuantity": {
                          "type": "integer",
                          "description": "Total number of items returned (if less than the requested quantity then completed)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        }
      }
    },
    "/customer/date/{date}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Get all Customers by modified date",
        "description": "Will return two lists, first contains new customers by date entered, second contains any existing customers that were modified after that date",
        "operationId": "getCustomersByDate",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "date",
            "in": "path",
            "description": "Search for Customers added or modified after that date (not UTC, date in pos system)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 1,
              "type": "string",
              "format": "date ''2022-08-24%2000:00:00''"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Customer object containing fields associated with a POS Customer.\n\nHidden Values  \nIt is possible to use any field in POS, over and above what is defined below in a `POST` request. Most common fields are included here,\nthough there are many more available (eg; `userDefinedText1 - 10`, `dob`, `dob2` etc). Please contact your POS vender to obtain a full list.\n",
                    "properties": {
                      "uniqueId": {
                        "type": "integer",
                        "description": "The unique identifier of a Customer          \nIgnored in `POST` or `PUT` requests. Returned on all `GET` and `POST` requests.\nPOS may use the same email for multiple accounts, or change email/code of a Customer.  \nThe `uniqueId` is provided as part of the response to creating a Customer through this api or by searching or requesting \nfull Customer list.\n"
                      },
                      "code": {
                        "maxLength": 10,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### POS Code for customer  \n\n**Required** only on `POST` requests. Returned on all `GET` requests.  \n- Must be **unique**. If code supplied already exists a `Conflict in parameter - Customer code: {code} already exists \nas Customer code for Customer ID: #` error will be returned  \n- **Special characters** will result in `Bad input parameter - customerCode must not contain special character` error  \n- **Leading numeric 0** will result in `Bad input parameter - customerCode index 0 must not be numeric 0` error\n"
                      },
                      "lastName": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "#### Customer last name          \n**Required** only on `POST` requests. Returned on all `GET` requests.\n"
                      },
                      "email": {
                        "maxLength": 50,
                        "type": "string",
                        "description": "#### Customer email address  \n- May return `Bad input parameter - Customer email: {email} does not appear to be a valid email, or does not pass spam check`\nif API flags as spam.\n"
                      },
                      "type": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "#### Default Type\n- Defined in Customer Type within User-Defined in POS System. Leaving type out will result in default type defined there.\nOverride with value between 1 - 9999 to NOT use the system default.\n"
                      },
                      "firstName": {
                        "maxLength": 15,
                        "type": "string"
                      },
                      "scanCode": {
                        "maxLength": 13,
                        "type": "string",
                        "description": "#### POS scan code or other unique code for customer   \n- Must be **unique**.  \n- If `scanCode` exists as a Customer Code or scan code a `Conflict in parameter - Customer scan code: {scanCode} already exists as Customer code \nfor Customer ID: #` error will be returned.  \n- If `scanCode` exists as a Stock Item Code `Conflict in parameter - Customer scan code: {scanCode} already exists as Stock Code\nfor Stock Item: {code}` error will be returned.\n"
                      },
                      "phone": {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string"
                      },
                      "company": {
                        "maxLength": 40,
                        "type": "string"
                      },
                      "contactNo": {
                        "maxLength": 20,
                        "type": "string"
                      },
                      "comments1": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "comments2": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                      },
                      "discontinue": {
                        "type": "boolean",
                        "default": false
                      },
                      "asAbove": {
                        "type": "boolean",
                        "default": true,
                        "description": "Assigns the standard address as also the delivery address, leave delivery address blank and assign asAbove as true if delivery address is not different to customer address"
                      },
                      "masterAccount": {
                        "maxLength": 16,
                        "type": "string"
                      },
                      "creditLimit": {
                        "type": "number",
                        "format": "double",
                        "description": "Customer credit limit\n`POST` values must be integers, `GET` responses will be doubles.\n",
                        "default": 0
                      },
                      "address1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "address2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "suburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "state": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "postCode": {
                        "type": "string",
                        "maxLength": 10
                      },
                      "deliveryAddress1": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryAddress2": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliverySuburb": {
                        "type": "string",
                        "maxLength": 35
                      },
                      "deliveryState": {
                        "type": "string",
                        "maxLength": 3
                      },
                      "deliveryPostcode": {
                        "type": "string",
                        "maxLength": 10
                      }
                    },
                    "required": [
                      "code",
                      "lastName"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        }
      }
    },
    "/voucher": {
      "post": {
        "tags": [
          "voucher"
        ],
        "summary": "Create Gift Voucher",
        "description": "Adds a new Gift Voucher to the pos system with specified values  \nFinancial data discrepancies will occur if used. Use a finalised purchase of a gift voucher instead\n",
        "operationId": "addVoucher",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          }
        ],
        "deprecated": true,
        "requestBody": {
          "description": "Voucher Object to add",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "maxLength": 16,
                    "type": "string",
                    "description": "\n"
                  },
                  "site": {
                    "maximum": 99,
                    "type": "integer",
                    "description": "Assigning as 0 will indicate gift voucher is redeemable at all sites (AllowGlobalRedemption = true)",
                    "default": 0
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Override of system datetime now. Date time of voucher purchased, in UTC time, will be converted to time-zone pos is in"
                  },
                  "dateExpires": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Override of system Type1 Gift Voucher Expiry. Date time of voucher expiry, in UTC time, will be converted to time-zone pos is in"
                  },
                  "amountRedeemed": {
                    "type": "number",
                    "format": "decimal"
                  },
                  "name": {
                    "maxLength": 30,
                    "type": "string"
                  },
                  "gvType": {
                    "maximum": 99,
                    "minimum": 1,
                    "type": "integer"
                  },
                  "email": {
                    "maxLength": 30,
                    "type": "string"
                  }
                },
                "required": [
                  "code"
                ],
                "x-examples": {
                  "Standard": {
                    "code": "9846573893746",
                    "site": 0,
                    "amount": 50,
                    "date": "2019-08-24 14:15:22",
                    "dateExpires": "2022-08-24 14:15:22",
                    "amountRedeemed": 0,
                    "name": "Dr Strange",
                    "gvType": 1,
                    "email": "drstrange@gmail.com"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "code": "string",
                    "site": 0,
                    "date": "2019-08-24T14:15:22Z",
                    "dateExpires": "2019-08-24T14:15:22Z",
                    "amount": 0,
                    "amountRedeemed": 0,
                    "name": "string",
                    "allowGlobalRedemption": true,
                    "giftVoucherType": 1,
                    "emailAddress": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Voucher created"
          },
          "400": {
            "description": "Bad input parameter"
          },
          "409": {
            "description": "Voucher with specified code already exists"
          }
        }
      }
    },
    "/voucher/{code}": {
      "get": {
        "tags": [
          "voucher"
        ],
        "summary": "Find Gift Voucher",
        "description": "Find a Gift Voucher in the pos system with specified code  \nWill return `code` prefixed with `GV`\n",
        "operationId": "findVoucher",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "code",
            "in": "path",
            "description": "Voucher code to be searched for",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results matching code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "maxLength": 16,
                        "type": "string",
                        "description": "\n"
                      },
                      "site": {
                        "maximum": 99,
                        "type": "integer",
                        "description": "Assigning as 0 will indicate gift voucher is redeemable at all sites (AllowGlobalRedemption = true)",
                        "default": 0
                      },
                      "amount": {
                        "type": "number",
                        "format": "decimal"
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Override of system datetime now. Date time of voucher purchased, in UTC time, will be converted to time-zone pos is in"
                      },
                      "dateExpires": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Override of system Type1 Gift Voucher Expiry. Date time of voucher expiry, in UTC time, will be converted to time-zone pos is in"
                      },
                      "amountRedeemed": {
                        "type": "number",
                        "format": "decimal"
                      },
                      "name": {
                        "maxLength": 30,
                        "type": "string"
                      },
                      "gvType": {
                        "maximum": 99,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "email": {
                        "maxLength": 30,
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ],
                    "x-examples": {
                      "Standard": {
                        "code": "9846573893746",
                        "site": 0,
                        "amount": 50,
                        "date": "2019-08-24 14:15:22",
                        "dateExpires": "2022-08-24 14:15:22",
                        "amountRedeemed": 0,
                        "name": "Dr Strange",
                        "gvType": 1,
                        "email": "drstrange@gmail.com"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "code": "string",
                        "site": 0,
                        "amount": 0,
                        "date": "2019-08-24T14:15:22Z",
                        "dateExpires": "2019-08-24T14:15:22Z",
                        "amountRedeemed": 0,
                        "name": "string",
                        "gvType": 1,
                        "email": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameter"
          }
        }
      },
      "put": {
        "tags": [
          "voucher"
        ],
        "summary": "Update Gift Voucher",
        "description": "Update an existing Gift Voucher in the pos system",
        "operationId": "updateVoucher",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-CBI-BUSINESS-SUBSCRIPTION-ID",
            "description": "Subscription ID as given by cache.bi portal, unique to each business",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "UUID"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Unique API KEY generated by cache.bi portal",
            "required": true
          },
          {
            "name": "code",
            "in": "path",
            "description": "Voucher code to be updated",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Voucher Object to add with updated values",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "maxLength": 16,
                    "type": "string",
                    "description": "\n"
                  },
                  "site": {
                    "maximum": 99,
                    "type": "integer",
                    "description": "Assigning as 0 will indicate gift voucher is redeemable at all sites (AllowGlobalRedemption = true)",
                    "default": 0
                  },
                  "amount": {
                    "type": "number",
                    "format": "decimal"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Override of system datetime now. Date time of voucher purchased, in UTC time, will be converted to time-zone pos is in"
                  },
                  "dateExpires": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Override of system Type1 Gift Voucher Expiry. Date time of voucher expiry, in UTC time, will be converted to time-zone pos is in"
                  },
                  "amountRedeemed": {
                    "type": "number",
                    "format": "decimal"
                  },
                  "name": {
                    "maxLength": 30,
                    "type": "string"
                  },
                  "gvType": {
                    "maximum": 99,
                    "minimum": 1,
                    "type": "integer"
                  },
                  "email": {
                    "maxLength": 30,
                    "type": "string"
                  }
                },
                "required": [
                  "code"
                ],
                "x-examples": {
                  "Standard": {
                    "code": "9846573893746",
                    "site": 0,
                    "amount": 50,
                    "date": "2019-08-24 14:15:22",
                    "dateExpires": "2022-08-24 14:15:22",
                    "amountRedeemed": 0,
                    "name": "Dr Strange",
                    "gvType": 1,
                    "email": "drstrange@gmail.com"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "code": "string",
                    "site": 0,
                    "date": "2019-08-24 14:15:22",
                    "dateExpires": "2019-08-24 14:15:22",
                    "amount": 0,
                    "amountRedeemed": 0,
                    "name": "string",
                    "allowGlobalRedemption": true,
                    "giftVoucherType": 1,
                    "emailAddress": "string"
                  }
                }
[...]
